
{% extends 'base.html' %}
{% block title %}
    {{ block.super }}-About Us
{% endblock %}


{% block body %}

<h1> CBRisk Tool</h1>


    <p><b>Welcome to CBRisk</b></p><br>
<p>Construction industry has historically had a high degree of uncertainty which leads to risk. In
this respect, risk management is a matter of life and death for project success. Risk
management is very crucial to eliminate or at least reduce the effect of the risks on the project.
Risk management aims to define sources of uncertainty (risk identification), estimate the
consequences of uncertain event/conditions (risk analysis), generate response strategies in the
light of expected outcomes. However, these processes rely on knowledge and must be
repeated throughout the life cycle of the project to ensure that project objectives are met. Risk
management is also important source of the knowledge (Dikmen et al., 2008) . In fact,
knowledge is both input and output of the risk management. In order to exploit knowledge
from risk events, companies may construct a corporate risk memory in which the risk
information is stored as well as lessons learned about effectiveness of response strategies and
factors that affect the risk consequences. Corporate risk memory allows companies to update
their risk management knowledge and eventually allows to have precise and accurate
forecasts about risks, likelihood of risk occurrence and their consequences (Dikmen et al.,
2008) . Thus, capturing, storing, and disseminating knowledge is key to conduct successful
risk management (Eken et al., 2020) . CBRisk was designed in a way that risk knowledge from
construction projects would be captured, stored and disseminated effectively.
CBRisk is a prototype IT tool that aims to develop corporate risk memory for construction
companies. This is the first tool that embrace all risk management processes of the
construction projects. The tool is capable of aiding engineers/managers in risk management,
risk analysis and generating risk responses. In addition, risks emerged throughout the life
cycle of the project can be inserted and stored in the database.
Since this tool has not been a commercial tool yet, only the editors and reviewers of the
journals could be given full authorization. Other users are not permitted to access to the
    system.</p>

    <p><b>References</b></p>
<p>Dikmen, I., Birgonul, M.T., Anac, C., Tah, J.H.M. and Aouad, G. (2008), “Learning from
risks: A tool for post-project risk assessment”, Autom. Constr., Vol. 18 No. 1, pp. 42–50.<br>
Eken, G., Bilgin, G., Dikmen, I. and Birgonul, M.T. (2020), “A lessons-learned tool for
organizational learning in construction”, Autom. Constr., Elsevier, Vol. 110 No.
    September 2019, p. 102977.</p>

{% endblock %}