{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}-Create
{% endblock %}

{% block body %}
 <div class="alert alert-secondary" role="alert">
    <div class="col-md-offset-4 col-sm-offset-2 col-xs-offset-1">
        <h1>Select Disaster Type</h1>
        <form method="POST">
            <div class="row">
                <div class="col-md-offset-0 col-sm-6 col-xs-1">
                    {% csrf_token %}
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Project Id </th>
                            <th>Project Name</th>
                            <th>Summary</th>
                            <th>Created by</th>
                        </tr>
                    </thead>
                    <tbody>
                            <div class="col-md-12 col-sm-6 col-xs-1">
                                <tr>
                                    <td><h3>{{ id }}</h3></td>
                                    <td><h3>{{ name }}</h3></td>
                                    <td><h3>{{ summary }}</h3></td>
                                    <td><h3>{{ creator }}</h3></td>
                                </tr>
                            </div>
                    </tbody>
                </table>

                    <td><h3><a href="{%url 'projects:depremCreate' project.id %}" class="btn btn-primary" role="button">Earthquake</a></h3></td>
                    <td><h3><a href="{%url 'projects:depremCreate' project.id %}" class="btn btn-primary" role="button">Flood</a></h3></td>
                </div>
            </div>
        </form>
    </div>
    </div>

{% endblock %}