{% extends 'baseTr.html' %}
{% load crispy_forms_tags %}
{% block body %}
<div class="alert alert-secondary" role="alert">
        <h1 align="center">Reaksiyon Bilgisi</h1>
              {% csrf_token %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Reaksiyon Numarası</th>
                            <th scope="col">Reaksiyon </th>
                            <th scope="col">Reaksiyon Tarihi</th>
                            <th scope="col">Reaksiyon Saati</th>
                            <th scope="col">Reaksiyonun Etkinliği</th>
                            <th scope="col">Sorumlu Kurum</th>
                        </tr>
                    </thead>
                    <tbody>
                            <div class="row">
                                <div class="col-md-12 col-sm-6 col-xs-1">
                                    <tr>
                                        <td data-label="Reaksiyon Numarası"><h3>{{response.id}}</h3></td>
                                        <td data-label="Reaksiyon"><h3>{{response.reaction}}</h3></td>
                                        <td data-label="Reaksiyon Tarihi"><h3>{{response.date }}</h3></td>
                                        <td data-label="Reaksiyon Saati"><h3>{{ response.time }}</h3></td>
                                        <td data-label="Reaksiyonun Etkinliği"><h3>{{ response.effect}}</h3></td>
                                        <td data-label="Sorumlu Kurum"><h3>{{ response.responsible }}</h3></td>
                                    </tr>
                                </div>
                            </div>
                    </tbody>
                </table>
</div>
{% endblock %}





